<html>
  <head>
    <title>Home - The Gossip Project</title>


  <body> 
  	
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">


  </head>


  <body>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->

    <% if current_user %>
     <center> <h1 class="my-4 center text-info">Welcome <%=current_user.first_name%> !</h1></center>
      <%else %> 
      <h1 class="my-4 tex-center text-primary">Welcome dans le monde de gossip !</h1>
      <%end%>
      <p> <%= link_to "Soumettre un nouveau gossip", new_gossip_path %> </p> 
        <h1 class="tex-center text-primary">  Voici tous les potins </h1>
    

        <% @gossips.each do |gossip| %>
   	
		      <div class="card alert alert-primary shadow-lg p-4 mb-4" >
		  <div class="card-header " >
      <h5 class="card-title text-center"><%= gossip.title %></h5>
		  </div>
		  <div class="card-body">
		    
		    <p class="card-text text-center"><%= gossip.content %></p>
		    <center><a class="btn btn-primary " <%= link_to "Go to gossip page", gossip_path(gossip) %> </a></center>
		  </div>
		</div>

      <%end%>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; The Gossip Project 2018</p>
      </div>
      <!-- /.container -->
    </footer>
</body>
</html>