<html>
  <head>
    <title>Contact</title>
  <body> 
  	<p> Welcome sur la page du gossip N° <%=params[:id]%> !</p> 
  	<p>Voici les infos sur ce potin :</p>

  	<table class="table">
  <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="row">Author</th>
      <th scope="row">Title</th>
      <th scope="row">Content</th>
      <th scope="row">Creation date</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <th scope="col"> # </th>
      <td> 
      	<p> <%= @gossip.user.first_name %> <%= @gossip.user.last_name %> </p> 
        <p> <%= link_to "Read more about the author", user_path(@gossip.user_id) %> </p> 
        <p> <%= link_to "Edit the gossip", edit_gossip_path %> </p>
        <p> <%= link_to "Destroy the gossip", gossip_path(@gossip), method: :delete, data: { confirm: 'Etes-vous sûr.e de vouloir supprimer le gossip ?' } %> </p>
        <p> <%= link_to "Display author's city", city_path(@gossip.user.city) %> </p>
        <p> <%= link_to "Add comment", city_path(@gossip.user.city) %> </p>
      </td>
      <td> <%= @gossip.title %> </td>
      <td> <%= @gossip.content %> </td>
      <td> <%= @gossip.created_at %> </td>
    </tr>

  </tbody>

</table>


</body>
</html>